<!--
  Generated template for the TarefaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Projeto: {{projeto.nome}}</ion-title>
  </ion-navbar>
    <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipoTarefa">
      <ion-segment-button value="pendentes">
        Pendentes
      </ion-segment-button>
      <ion-segment-button value="concluidas">
        Concluidas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="atualizarTarefasSwipe($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="novaTarefa()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  <div [ngSwitch]="tipoTarefa">
    <ion-list *ngSwitchCase="'pendentes'">
      <ion-item-sliding *ngFor="let tarefa of tarefasPendentes">
          <ion-item (click)="editarTarefa(tarefa)">
            <ion-avatar item-left>
               <img src="assets/images/triste_black.png">
            </ion-avatar>
            <h2>{{tarefa.descricao}}</h2>
            <p>Data Limite: {{tarefa.dataLimite | date:'dd-MM-y'}}</p>
            <ion-badge [color]="funcoes.obterCor(tarefa.prioridade)" item-right>{{tarefa.prioridade}}</ion-badge>
          </ion-item>
          <ion-item-options side="right">            
            <button ion-button color="secondary"(click)="promptConcluirTarefa(tarefa)">
              <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                Concluir
            </button>
            <button ion-button color="danger" (click)="promptDeletarTarefa(tarefa)">
              <ion-icon name="trash" ></ion-icon>
                Deletar
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'concluidas'">
      <ion-item-sliding *ngFor="let tarefa of tarefasConcluidas">
          <ion-item (click)="editarTarefa(tarefa)">
            <ion-avatar item-left>
               <img src="assets/images/feliz_black.png">
            </ion-avatar>
            {{tarefa.descricao}}
            <ion-badge [color]="funcoes.obterCor(tarefa.prioridade)" item-right>{{tarefa.prioridade}}</ion-badge>
          </ion-item>
          <ion-item-options side="right">           
            <button ion-button color="secondary" (click)="promptRetomarTarefa(tarefa)">
              <ion-icon ios="ios-rewind" md="md-rewind"></ion-icon>
                Retomar
            </button>
            <button ion-button color="danger" (click)="promptDeletarTarefa(tarefa)">
              <ion-icon name="trash" ></ion-icon>
                Deletar
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>